APP_NAME=review-dash-backend
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:3001

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=review-dash
DATABASE_PASSWORD=review-dash
DATABASE_NAME=review_dash

REVIEW_PRODUCT_URLS=https://amzn.in/d/07vKnqI2,https://amzn.in/d/01qnlA6F,https://amzn.in/d/03eooMZA
