APP_NAME=review-dash-backend
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:3001

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=review-dash
DATABASE_PASSWORD=review-dash
DATABASE_NAME=review_dash

APIFY_API_TOKEN=your-apify-api-token
APIFY_AMAZON_REVIEWS_ACTOR=junglee/amazon-reviews-scraper

ENABLE_CRON_JOBS=false
REVIEW_SYNC_CRON_INTERVAL_HOURS=8
